#root {
/*  position: relative;*/
}
.wrapper {
  margin-inline: auto auto;
  flex:1 0 auto;
  max-width: 1000px;
  width:100%;
}
.container {
  background-color:#EAE7F3;
  padding:18px;
}
.App {
  height:100svh;
  display:flex;
  flex-direction: column;
}
.App > :nth-child(2) {
  flex: 1 1 0;  
}
.header {
  background-color: white;
  padding:12px;
  height:65px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -5px 10px gray;
  z-index: 1;
  position: sticky;
  top: 0;
}

.header h1::before {
  content: "";
  background-color: red;
  border:2px solid black;
  margin-right:12px;
}
.header h1 span {
  color: orangered;
}
.footer {
  height: 65px;
  flex: 0 0 auto;
  position: sticky;
  bottom: 0;
  background-color: white;
  display: flex;
/*  justify-content: center;*/
  align-items: center;
}
.navBot {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navBot > * {
  outline:3px solid #454545;
  border: 1px solid lightgray;
  border-radius: 12px;
/*  outline-offset: 15px;*/
/*  margin:12px;*/
/*  min-height: 50px;*/
}
.navLogo {
  height: 40px;
}
.navLogo:hover {
  fill: orangered;
}
.home {
/*    background-color:#EAE7F3;*/
}
.heroLocation {
  padding:12px;
  background-color: white;
  border-radius: 10px ;
  height: 400px;
  margin-bottom: 36px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, transparent,transparent, black),url("/1d06a132afc9e92d2974c63f9ce25737.jpg");
  background-size:cover;
  background-position: center;
  color:white;
}
.locationMeta h3 span{
/*  border:2px solid black;*/
  font-weight: 500;
  font-style: italic;
  padding-left:24px;
}
.serviceTags {
  display: flex;
  gap:12px;
  padding:12px;
  flex-wrap: wrap;
}
.servicesContent > *{
  margin-bottom: 36px;
}
.sTag,.cardTag {
  outline:2px solid orangered;
  padding:6px;
  border-radius: 12px;
}
.serviceCard {
  height: 360px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  overflow:hidden;
  color:white;
}
.cardContent {
  height:100%;
  width:100%;
  position:absolute;
/*  display:inline-block;*/
  padding:12px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, transparent,transparent,black);
/*  background-color: red;*/
}
.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  position: absolute;*/
}
.cardImg {
/*  position: absolute;*/
  height:100%;
  width:100%;
  object-fit: cover ;
}
.cardTag {
  margin-bottom: 12px;
}
.cardButton {
  width:100%;
  height:50px;
  background-color: white;
  border:2px solid transparent;
  border-radius:2rem;
  font-size:1.2rem;
  font-weight: bolder;
}
.cardButton:hover {
  border:2px solid orangered;
  background-color: orangered;
  color:white;
}
.cardButton:active {
  border:2px solid orangered;
  background-color: transparent;
  color:orangered;
}
.mail{

/*  background-color: white;*/
  

}
.mail h2 {
/*  background-color: white;*/
}
.mailContainer {
/*  position: relative;*/
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap:20px;
  background-color: white;
  padding: 18px;
  margin-bottom: 12px;
  border-radius: 12px;
  height:100px;
}
.defaultProfile {
  grid-row: 1 / 3;
  height: 100%;
  border-radius: 100%;
}
.mailUser {
}
.mailMessage {
  grid-template-columns: 2 / 3;
  grid-row: 2 /3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile {
  background-color: white;
}
.profile.container .wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.profile-landing-image {
  max-width: 300px;
}
.login-auth, .inputGroup {
  display: flex;
  flex-direction: column;
  gap:12px;
}
.login-auth input {
  height: 50px;
  border:2px solid lightgray;
  border-radius: 2rem;
  padding:10px 20px;
  font-weight: bold;
}
.loginSubmit {
  height: 55px;
  background-color: orangered;
  border:2px solid transparent;
  border-radius: 18px;
  color:white;
  font-weight: bold;
  font-size: 1rem;
}
.loginSubmit:active {
  outline: none;
}
.loginSubmit:hover {
  background-color: transparent;
  border: 2px solid orangered;
  color:orangered;
}
.loginSubmit:active {
  background-color: orangered;
  border:1px solid transparent;
  color:white;
  box-shadow: 2px 2px black;
}
.map.container{
  padding: 0;
  background-color: white;
}
.leaflet-container {
  height:100%;
  width:100%;
}
/*web responsive -> home {map is moved at the left-side}*/
/*implement darkmode in settings*/